body {
    font-family: "Roboto";
    font-size: 12px;
  }
  
  .text-title {
    font-size: 24px;
  }
  
  .text-price {
    font-size: 18px;
  }
  
  .text-discount {
    font-size: 16px;
  }
  
  .text-desc {
    font-size: 16px;
  }

  /* Colors.-*/

  .ml-yellow-text {
    color: #eac926;
  }
  .ml-blue-text {
    color: #03264c;
  }
  .ml-lb-text {
    color: #1259c3;
  }
  .ml-dark-text {
    color: #666;
  }
  .ml-light-text {
    color: #ebebeb;
  }
  .ml-green-text {
    color: #39b54a;
  }
  
  .ml-yellow-bg {
    background-color: #eac926;
  }
  .ml-blue-bg {
    background-color: #03264c;
  }
  .ml-lb-bg {
    background-color: #1259c3;
  }
  .ml-dark-bg {
    background-color: #666;
  }
  .ml-light-bg {
    background-color: #ebebeb;
  }
  .ml-green-bg {
    background-color: #39b54a;
  }

  /* utils.-*/
 
html,
body {
  margin: 0;
  }
     
  .text-center {
  text-align: center;
  }

  .aling-self {
  align-self: center;
  }

  .w-50 {
  width: 50%;
  }
  .w-100 {
  width: 100%;
  }

  .padding-16 {
  padding: 16px;
  }

  .padding-8 {
  padding: 8px;
  }

  .margin-bot-25 {
  margin-bottom: 25px;
  }

  .font-size-16 {
  font-size: 16px;
  }

  .flex {
  display: flex;
  flex-wrap: wrap;
  }

  .flex-grow {
  flex-grow: 1;
  }
  .no-wrap {
  flex-wrap: nowrap;
  }

  .justify-center {
  justify-content: center;
  }

  .justify-space-between {
  justify-content: space-between;
  }

  .hide {
  display: none;
  }

  .align-center {
  align-items: center;
  }

  .remove-margin-bot {
  margin-bottom: 0;
  }

  .remove-margin-top {
  margin-top: 0;
  }
  * {
    box-sizing: border-box;
  }